In [ ]:
# !pip install psycopg2-binary

In [ ]:
import psycopg2

# Define your database connection parameters
db_params = {
    'dbname': 'postgres',
    'user': 'postgres',
    'password': 'password',
    'host': 'localhost',
    'port': '5432'  # Default port for PostgreSQL
}

# Establish the connection
try:
    connection = psycopg2.connect(**db_params)
    print("Connection to PostgreSQL database successful!")
except Exception as e:
    print(f"An error occurred: {e}")

Connection to PostgreSQL database successful!

In [16]:
import pandas as pd

# Query data from three different tables
try:
    query = """
    SELECT * FROM public.api_question
    """
    df = pd.read_sql_query(query, connection)
    print("Data fetched successfully!")
    print(df.head())  # Display the first few rows of the dataframe
except Exception as e:
    print(f"An error occurred while fetching data: {e}")

Data fetched successfully!
                        created_at                       updated_at  \
0 2025-03-25 11:07:01.173446+00:00 2025-04-02 13:03:51.081200+00:00
1 2025-03-25 11:07:01.182221+00:00 2025-04-02 13:03:51.098349+00:00
2 2025-03-25 11:07:01.345035+00:00 2025-04-02 13:03:51.324499+00:00
3 2025-03-25 11:07:01.353563+00:00 2025-04-02 13:03:51.339643+00:00
4 2025-03-25 11:07:01.362914+00:00 2025-04-02 13:03:51.355353+00:00

           id                                      question_text passage  \
0  m_pdiunnex    "Solve for ##x## in the equation: ##3x = 15##."
1  m_5ixa05lt  "Solve for ##x## in the equation: ##x - 4 = 9##."
2  m_niqm0fgn  "A line passes through the points ##(3, 4)## a...
3  m_3xtl6iay  "A line passes through the point (3, 4) and is...
4  m_7nntk3pe  "Two lines are given by the equations ##3x + 4...

  question_type                                          rationale  \
0           MCQ  {'reasoning': 'To solve for ##x##, divide both...
1           MCQ  {'reasoning': 'To solve for ##x##, add 4 to bo...
2           MCQ  {'reasoning': 'First, calculate the slope ##m ...
3           MCQ  {'reasoning': 'The slope of the line ##2x - 3y...
4           MCQ  {'reasoning': 'For two lines to be parallel, t...

                                             options correct_answer  \
0  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
1  [{'choice_id': 'A', 'choice_text': '##x## = 5'...            [C]
2  [{'choice_id': 'A', 'choice_text': '##y = x + ...            [A]
3  [{'choice_id': 'A', 'choice_text': '##y = \fra...            [D]
4  [{'choice_id': 'A', 'choice_text': '2'}, {'cho...            [B]

                                                hint  \
0        Consider what operation will isolate ##x##.
1  Think about what you need to do to isolate ##x##.
2  Find the slope first, then use the point-slope...
3  Find the negative reciprocal of the given line...
4  Use the property of equal slopes for parallel ...

                              prompt_id images  is_endurance
0  ca139627-ed04-4b12-97e8-0486f28beb07     []         False
1  ca139627-ed04-4b12-97e8-0486f28beb07     []         False
2  b6e58fc7-56aa-4ef7-9c46-ef25b0591169     []         False
3  7b2357b7-eca7-4b4e-aa39-7257cf8258fa     []         False
4  7b2357b7-eca7-4b4e-aa39-7257cf8258fa     []         False

C:\Users\Manideep S\AppData\Local\Temp\ipykernel_18900\1489443608.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

In [17]:
df = df[['question_text', 'passage', 'question_type', 'rationale', 'options', 'correct_answer', 'hint', 'prompt_id']]
print(df.head())

                                       question_text passage question_type  \
0    "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
1  "Solve for ##x## in the equation: ##x - 4 = 9##."                   MCQ
2  "A line passes through the points ##(3, 4)## a...                   MCQ
3  "A line passes through the point (3, 4) and is...                   MCQ
4  "Two lines are given by the equations ##3x + 4...                   MCQ

                                           rationale  \
0  {'reasoning': 'To solve for ##x##, divide both...
1  {'reasoning': 'To solve for ##x##, add 4 to bo...
2  {'reasoning': 'First, calculate the slope ##m ...
3  {'reasoning': 'The slope of the line ##2x - 3y...
4  {'reasoning': 'For two lines to be parallel, t...

                                             options correct_answer  \
0  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
1  [{'choice_id': 'A', 'choice_text': '##x## = 5'...            [C]
2  [{'choice_id': 'A', 'choice_text': '##y = x + ...            [A]
3  [{'choice_id': 'A', 'choice_text': '##y = \fra...            [D]
4  [{'choice_id': 'A', 'choice_text': '2'}, {'cho...            [B]

                                                hint  \
0        Consider what operation will isolate ##x##.
1  Think about what you need to do to isolate ##x##.
2  Find the slope first, then use the point-slope...
3  Find the negative reciprocal of the given line...
4  Use the property of equal slopes for parallel ...

                              prompt_id
0  ca139627-ed04-4b12-97e8-0486f28beb07
1  ca139627-ed04-4b12-97e8-0486f28beb07
2  b6e58fc7-56aa-4ef7-9c46-ef25b0591169
3  7b2357b7-eca7-4b4e-aa39-7257cf8258fa
4  7b2357b7-eca7-4b4e-aa39-7257cf8258fa

In [18]:
# Query to fetch prompt data based on the prompt_id
try:
    prompt_query = """
    SELECT p.name, p.id, p.question_prompt_id
    FROM public.api_prompt p
    INNER JOIN public.api_question q ON p.id = q.prompt_id
    """
    # Extract unique prompt_ids from the dataframe
    prompt_ids = tuple(df['prompt_id'].unique())
    
    # Execute the query
    prompt_df = pd.read_sql_query(prompt_query, connection, params=(prompt_ids,))
    print("Prompt data fetched successfully!")
    print(prompt_df.head())  # Display the first few rows of the prompt dataframe
except Exception as e:
    print(f"An error occurred while fetching prompt data: {e}")

Prompt data fetched successfully!
                    name                                    id  \
0  PID-M-ALG-LEO-EMT-EAS  ca139627-ed04-4b12-97e8-0486f28beb07
1  PID-M-ALG-LEO-EMT-EAS  ca139627-ed04-4b12-97e8-0486f28beb07
2  PID-M-ALG-LIF-EMT-MED  b6e58fc7-56aa-4ef7-9c46-ef25b0591169
3  PID-M-ALG-LIF-EMT-HAR  7b2357b7-eca7-4b4e-aa39-7257cf8258fa
4  PID-M-ALG-LIF-EMT-HAR  7b2357b7-eca7-4b4e-aa39-7257cf8258fa

                     question_prompt_id
0  d721b009-a941-482e-8ea7-22e6d515681f
1  d721b009-a941-482e-8ea7-22e6d515681f
2  ad052292-cf26-4009-bde6-faaa9e1cd007
3  9bc5ab8c-96e4-420e-8e28-41d5bfbe334d
4  9bc5ab8c-96e4-420e-8e28-41d5bfbe334d

C:\Users\Manideep S\AppData\Local\Temp\ipykernel_18900\3681442312.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  prompt_df = pd.read_sql_query(prompt_query, connection, params=(prompt_ids,))

In [19]:
# Merge df with prompt_df on 'prompt_id' and 'id'
df = df.merge(prompt_df[['id', 'name','question_prompt_id']], left_on='prompt_id', right_on='id', how='left')

In [20]:


# Rename the 'name' column to 'prompt'
df.rename(columns={'name': 'prompt_name'}, inplace=True)

# df.rename(columns={'question_pron': 'prompt_name'}, inplace=True)

# Drop the redundant 'id' column from the merge
df.drop(columns=['id'], inplace=True)

print(df.head())

                                     question_text passage question_type  \
0  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
1  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
2  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
3  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
4  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ

                                           rationale  \
0  {'reasoning': 'To solve for ##x##, divide both...
1  {'reasoning': 'To solve for ##x##, divide both...
2  {'reasoning': 'To solve for ##x##, divide both...
3  {'reasoning': 'To solve for ##x##, divide both...
4  {'reasoning': 'To solve for ##x##, divide both...

                                             options correct_answer  \
0  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
1  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
2  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
3  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
4  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]

                                          hint  \
0  Consider what operation will isolate ##x##.
1  Consider what operation will isolate ##x##.
2  Consider what operation will isolate ##x##.
3  Consider what operation will isolate ##x##.
4  Consider what operation will isolate ##x##.

                              prompt_id            prompt_name  \
0  ca139627-ed04-4b12-97e8-0486f28beb07  PID-M-ALG-LEO-EMT-EAS
1  ca139627-ed04-4b12-97e8-0486f28beb07  PID-M-ALG-LEO-EMT-EAS
2  ca139627-ed04-4b12-97e8-0486f28beb07  PID-M-ALG-LEO-EMT-EAS
3  ca139627-ed04-4b12-97e8-0486f28beb07  PID-M-ALG-LEO-EMT-EAS
4  ca139627-ed04-4b12-97e8-0486f28beb07  PID-M-ALG-LEO-EMT-EAS

                     question_prompt_id
0  d721b009-a941-482e-8ea7-22e6d515681f
1  d721b009-a941-482e-8ea7-22e6d515681f
2  d721b009-a941-482e-8ea7-22e6d515681f
3  d721b009-a941-482e-8ea7-22e6d515681f
4  d721b009-a941-482e-8ea7-22e6d515681f

In [21]:
df.head()

,question_text,passage,question_type,rationale,options,correct_answer,hint,prompt_id,prompt_name,question_prompt_id
0,"""Solve for ##x## in the equation: ##3x = 15##.""",,MCQ,"{'reasoning': 'To solve for ##x##, divide both...","[{'choice_id': 'A', 'choice_text': '##x## = 3'...",[D],Consider what operation will isolate ##x##.,ca139627-ed04-4b12-97e8-0486f28beb07,PID-M-ALG-LEO-EMT-EAS,d721b009-a941-482e-8ea7-22e6d515681f
1,"""Solve for ##x## in the equation: ##3x = 15##.""",,MCQ,"{'reasoning': 'To solve for ##x##, divide both...","[{'choice_id': 'A', 'choice_text': '##x## = 3'...",[D],Consider what operation will isolate ##x##.,ca139627-ed04-4b12-97e8-0486f28beb07,PID-M-ALG-LEO-EMT-EAS,d721b009-a941-482e-8ea7-22e6d515681f
2,"""Solve for ##x## in the equation: ##3x = 15##.""",,MCQ,"{'reasoning': 'To solve for ##x##, divide both...","[{'choice_id': 'A', 'choice_text': '##x## = 3'...",[D],Consider what operation will isolate ##x##.,ca139627-ed04-4b12-97e8-0486f28beb07,PID-M-ALG-LEO-EMT-EAS,d721b009-a941-482e-8ea7-22e6d515681f
3,"""Solve for ##x## in the equation: ##3x = 15##.""",,MCQ,"{'reasoning': 'To solve for ##x##, divide both...","[{'choice_id': 'A', 'choice_text': '##x## = 3'...",[D],Consider what operation will isolate ##x##.,ca139627-ed04-4b12-97e8-0486f28beb07,PID-M-ALG-LEO-EMT-EAS,d721b009-a941-482e-8ea7-22e6d515681f
4,"""Solve for ##x## in the equation: ##3x = 15##.""",,MCQ,"{'reasoning': 'To solve for ##x##, divide both...","[{'choice_id': 'A', 'choice_text': '##x## = 3'...",[D],Consider what operation will isolate ##x##.,ca139627-ed04-4b12-97e8-0486f28beb07,PID-M-ALG-LEO-EMT-EAS,d721b009-a941-482e-8ea7-22e6d515681f

In [22]:
columns = prompt_df.columns.tolist()
print(columns)

['name', 'id', 'question_prompt_id']

In [23]:
columns = df.columns.tolist()
print(columns)

['question_text', 'passage', 'question_type', 'rationale', 'options', 'correct_answer', 'hint', 'prompt_id', 'prompt_name', 'question_prompt_id']

In [24]:
# Query to fetch data from the api_questionprompt table
try:
    question_prompt_query = """
    SELECT id, domain, skill, subject, difficulty
    FROM public.api_questionprompt
    """
    
    # Fetch the data into a dataframe
    question_prompt_df = pd.read_sql_query(question_prompt_query, connection)
    print("Question prompt data fetched successfully!")
    print(question_prompt_df.head())  # Display the first few rows of the question prompt dataframe
except Exception as e:
    print(f"An error occurred while fetching or merging question prompt data: {e}")

Question prompt data fetched successfully!
                                     id               domain        skill  \
0  afd788d1-4c72-4745-aeea-a41230a612e4  Expression of Ideas  Transitions
1  a27763c9-5c7c-4035-9c4a-9ab431d05bfb  Expression of Ideas  Transitions
2  b6190818-eb33-4708-9af7-69247da0c62b  Expression of Ideas  Transitions
3  cdaa48fd-f6fd-4fcf-909c-7630de2066f1  Expression of Ideas  Transitions
4  6bd33fa2-fa52-4f3b-9efc-e25f7beac32e  Expression of Ideas  Transitions

  subject difficulty
0      RW        MED
1      RW        VHA
2      RW        VHA
3      RW        VHA
4      RW        HAR

C:\Users\Manideep S\AppData\Local\Temp\ipykernel_18900\1716527989.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  question_prompt_df = pd.read_sql_query(question_prompt_query, connection)

In [25]:
question_prompt_df['subject'] = question_prompt_df['subject'].replace({'RW': 'Read Write'})

In [26]:
question_prompt_df.head()

,id,domain,skill,subject,difficulty
0,afd788d1-4c72-4745-aeea-a41230a612e4,Expression of Ideas,Transitions,Read Write,MED
1,a27763c9-5c7c-4035-9c4a-9ab431d05bfb,Expression of Ideas,Transitions,Read Write,VHA
2,b6190818-eb33-4708-9af7-69247da0c62b,Expression of Ideas,Transitions,Read Write,VHA
3,cdaa48fd-f6fd-4fcf-909c-7630de2066f1,Expression of Ideas,Transitions,Read Write,VHA
4,6bd33fa2-fa52-4f3b-9efc-e25f7beac32e,Expression of Ideas,Transitions,Read Write,HAR

In [ ]:
question_prompt_df["difficulty"] = question_prompt_df["difficulty"].replace({
	EAS: "Easy",
	MED: "Medium",
	HAR: "Hard",
	VHA: "Very Hard",
});

In [ ]:
question_prompt_df.head();

,id,domain,skill,subject,difficulty
0,afd788d1-4c72-4745-aeea-a41230a612e4,Expression of Ideas,Transitions,Read Write,Medium
1,a27763c9-5c7c-4035-9c4a-9ab431d05bfb,Expression of Ideas,Transitions,Read Write,Very Hard
2,b6190818-eb33-4708-9af7-69247da0c62b,Expression of Ideas,Transitions,Read Write,Very Hard
3,cdaa48fd-f6fd-4fcf-909c-7630de2066f1,Expression of Ideas,Transitions,Read Write,Very Hard
4,6bd33fa2-fa52-4f3b-9efc-e25f7beac32e,Expression of Ideas,Transitions,Read Write,Hard

In [30]:

    
# Perform a left join with df on question_prompt_id and id
df = df.merge(question_prompt_df, left_on='question_prompt_id', right_on='id', how='left')

# Drop the redundant 'id' column from the merge
df.drop(columns=['id'], inplace=True)

print("Dataframe after merging:")
print(df.head())  # Display the first few rows of the updated dataframe

Dataframe after merging:
                                     question_text passage question_type  \
0  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
1  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
2  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
3  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
4  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ

                                           rationale  \
0  {'reasoning': 'To solve for ##x##, divide both...
1  {'reasoning': 'To solve for ##x##, divide both...
2  {'reasoning': 'To solve for ##x##, divide both...
3  {'reasoning': 'To solve for ##x##, divide both...
4  {'reasoning': 'To solve for ##x##, divide both...

                                             options correct_answer  \
0  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
1  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
2  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
3  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
4  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]

                                          hint  \
0  Consider what operation will isolate ##x##.
1  Consider what operation will isolate ##x##.
2  Consider what operation will isolate ##x##.
3  Consider what operation will isolate ##x##.
4  Consider what operation will isolate ##x##.

                              prompt_id            prompt_name  \
0  ca139627-ed04-4b12-97e8-0486f28beb07  PID-M-ALG-LEO-EMT-EAS
1  ca139627-ed04-4b12-97e8-0486f28beb07  PID-M-ALG-LEO-EMT-EAS
2  ca139627-ed04-4b12-97e8-0486f28beb07  PID-M-ALG-LEO-EMT-EAS
3  ca139627-ed04-4b12-97e8-0486f28beb07  PID-M-ALG-LEO-EMT-EAS
4  ca139627-ed04-4b12-97e8-0486f28beb07  PID-M-ALG-LEO-EMT-EAS

                     question_prompt_id   domain  \
0  d721b009-a941-482e-8ea7-22e6d515681f  Algebra
1  d721b009-a941-482e-8ea7-22e6d515681f  Algebra
2  d721b009-a941-482e-8ea7-22e6d515681f  Algebra
3  d721b009-a941-482e-8ea7-22e6d515681f  Algebra
4  d721b009-a941-482e-8ea7-22e6d515681f  Algebra

                              skill subject difficulty
0  Linear equations in one variable    Math       Easy
1  Linear equations in one variable    Math       Easy
2  Linear equations in one variable    Math       Easy
3  Linear equations in one variable    Math       Easy
4  Linear equations in one variable    Math       Easy

In [31]:
df.head()

,question_text,passage,question_type,rationale,options,correct_answer,hint,prompt_id,prompt_name,question_prompt_id,domain,skill,subject,difficulty
0,"""Solve for ##x## in the equation: ##3x = 15##.""",,MCQ,"{'reasoning': 'To solve for ##x##, divide both...","[{'choice_id': 'A', 'choice_text': '##x## = 3'...",[D],Consider what operation will isolate ##x##.,ca139627-ed04-4b12-97e8-0486f28beb07,PID-M-ALG-LEO-EMT-EAS,d721b009-a941-482e-8ea7-22e6d515681f,Algebra,Linear equations in one variable,Math,Easy
1,"""Solve for ##x## in the equation: ##3x = 15##.""",,MCQ,"{'reasoning': 'To solve for ##x##, divide both...","[{'choice_id': 'A', 'choice_text': '##x## = 3'...",[D],Consider what operation will isolate ##x##.,ca139627-ed04-4b12-97e8-0486f28beb07,PID-M-ALG-LEO-EMT-EAS,d721b009-a941-482e-8ea7-22e6d515681f,Algebra,Linear equations in one variable,Math,Easy
2,"""Solve for ##x## in the equation: ##3x = 15##.""",,MCQ,"{'reasoning': 'To solve for ##x##, divide both...","[{'choice_id': 'A', 'choice_text': '##x## = 3'...",[D],Consider what operation will isolate ##x##.,ca139627-ed04-4b12-97e8-0486f28beb07,PID-M-ALG-LEO-EMT-EAS,d721b009-a941-482e-8ea7-22e6d515681f,Algebra,Linear equations in one variable,Math,Easy
3,"""Solve for ##x## in the equation: ##3x = 15##.""",,MCQ,"{'reasoning': 'To solve for ##x##, divide both...","[{'choice_id': 'A', 'choice_text': '##x## = 3'...",[D],Consider what operation will isolate ##x##.,ca139627-ed04-4b12-97e8-0486f28beb07,PID-M-ALG-LEO-EMT-EAS,d721b009-a941-482e-8ea7-22e6d515681f,Algebra,Linear equations in one variable,Math,Easy
4,"""Solve for ##x## in the equation: ##3x = 15##.""",,MCQ,"{'reasoning': 'To solve for ##x##, divide both...","[{'choice_id': 'A', 'choice_text': '##x## = 3'...",[D],Consider what operation will isolate ##x##.,ca139627-ed04-4b12-97e8-0486f28beb07,PID-M-ALG-LEO-EMT-EAS,d721b009-a941-482e-8ea7-22e6d515681f,Algebra,Linear equations in one variable,Math,Easy

In [32]:
Embedding_DF = df[['question_text', 'passage', 'question_type', 'rationale', 'options', 'correct_answer', 'hint', 'domain', 'skill', 'subject', 'difficulty']]

In [34]:
print(Embedding_DF.head())

                                     question_text passage question_type  \
0  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
1  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
2  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
3  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
4  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ

                                           rationale  \
0  {'reasoning': 'To solve for ##x##, divide both...
1  {'reasoning': 'To solve for ##x##, divide both...
2  {'reasoning': 'To solve for ##x##, divide both...
3  {'reasoning': 'To solve for ##x##, divide both...
4  {'reasoning': 'To solve for ##x##, divide both...

                                             options correct_answer  \
0  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
1  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
2  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
3  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]
4  [{'choice_id': 'A', 'choice_text': '##x## = 3'...            [D]

                                          hint   domain  \
0  Consider what operation will isolate ##x##.  Algebra
1  Consider what operation will isolate ##x##.  Algebra
2  Consider what operation will isolate ##x##.  Algebra
3  Consider what operation will isolate ##x##.  Algebra
4  Consider what operation will isolate ##x##.  Algebra

                              skill subject difficulty
0  Linear equations in one variable    Math       Easy
1  Linear equations in one variable    Math       Easy
2  Linear equations in one variable    Math       Easy
3  Linear equations in one variable    Math       Easy
4  Linear equations in one variable    Math       Easy

In [35]:
columns = Embedding_DF.columns.tolist()
print(columns)

['question_text', 'passage', 'question_type', 'rationale', 'options', 'correct_answer', 'hint', 'domain', 'skill', 'subject', 'difficulty']

In [37]:
# Flatten JSON columns and convert them to strings
flattened_df = Embedding_DF.applymap(lambda x: str(x) if isinstance(x, (dict, list)) else x)

# Create a new DataFrame with the flattened data
new_df = pd.DataFrame(flattened_df)

print(new_df.head())

                                     question_text passage question_type  \
0  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
1  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
2  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
3  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ
4  "Solve for ##x## in the equation: ##3x = 15##."                   MCQ

                                           rationale  \
0  {'reasoning': 'To solve for ##x##, divide both...
1  {'reasoning': 'To solve for ##x##, divide both...
2  {'reasoning': 'To solve for ##x##, divide both...
3  {'reasoning': 'To solve for ##x##, divide both...
4  {'reasoning': 'To solve for ##x##, divide both...

                                             options correct_answer  \
0  [{'choice_id': 'A', 'choice_text': '##x## = 3'...          ['D']
1  [{'choice_id': 'A', 'choice_text': '##x## = 3'...          ['D']
2  [{'choice_id': 'A', 'choice_text': '##x## = 3'...          ['D']
3  [{'choice_id': 'A', 'choice_text': '##x## = 3'...          ['D']
4  [{'choice_id': 'A', 'choice_text': '##x## = 3'...          ['D']

                                          hint   domain  \
0  Consider what operation will isolate ##x##.  Algebra
1  Consider what operation will isolate ##x##.  Algebra
2  Consider what operation will isolate ##x##.  Algebra
3  Consider what operation will isolate ##x##.  Algebra
4  Consider what operation will isolate ##x##.  Algebra

                              skill subject difficulty
0  Linear equations in one variable    Math       Easy
1  Linear equations in one variable    Math       Easy
2  Linear equations in one variable    Math       Easy
3  Linear equations in one variable    Math       Easy
4  Linear equations in one variable    Math       Easy

C:\Users\Manideep S\AppData\Local\Temp\ipykernel_18900\2121595242.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  flattened_df = Embedding_DF.applymap(lambda x: str(x) if isinstance(x, (dict, list)) else x)

In [38]:
# Concatenate all columns into a single column
concatenated_df = new_df.apply(lambda row: ' '.join(row.values.astype(str)), axis=1).to_frame(name='concatenated_column')

print(concatenated_df.head())

                                 concatenated_column
0  "Solve for ##x## in the equation: ##3x = 15##....
1  "Solve for ##x## in the equation: ##3x = 15##....
2  "Solve for ##x## in the equation: ##3x = 15##....
3  "Solve for ##x## in the equation: ##3x = 15##....
4  "Solve for ##x## in the equation: ##3x = 15##....

In [39]:
import re

# Function to clean text
def clean_text(text):
    # Remove special characters, punctuation, and numbers
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    # Convert to lowercase
    text = text.lower()
    # Remove extra whitespace
    text = re.sub(r'\s+', ' ', text).strip()
    return text

# Apply the cleaning function to the concatenated column
concatenated_df['cleaned_text'] = concatenated_df['concatenated_column'].apply(clean_text)

print(concatenated_df.head())

                                 concatenated_column  \
0  "Solve for ##x## in the equation: ##3x = 15##....
1  "Solve for ##x## in the equation: ##3x = 15##....
2  "Solve for ##x## in the equation: ##3x = 15##....
3  "Solve for ##x## in the equation: ##3x = 15##....
4  "Solve for ##x## in the equation: ##3x = 15##....

                                        cleaned_text
0  solve for x in the equation x mcq reasoning to...
1  solve for x in the equation x mcq reasoning to...
2  solve for x in the equation x mcq reasoning to...
3  solve for x in the equation x mcq reasoning to...
4  solve for x in the equation x mcq reasoning to...

In [41]:
# Remove ## and [, ] from the text
concatenated_df['cleaned_text'] = concatenated_df['cleaned_text'].str.replace(r'##', '', regex=True)
concatenated_df['cleaned_text'] = concatenated_df['cleaned_text'].str.replace(r'[\[\]]', '', regex=True)

print(concatenated_df.head())

                                 concatenated_column  \
0  "Solve for ##x## in the equation: ##3x = 15##....
1  "Solve for ##x## in the equation: ##3x = 15##....
2  "Solve for ##x## in the equation: ##3x = 15##....
3  "Solve for ##x## in the equation: ##3x = 15##....
4  "Solve for ##x## in the equation: ##3x = 15##....

                                        cleaned_text
0  solve for x in the equation x mcq reasoning to...
1  solve for x in the equation x mcq reasoning to...
2  solve for x in the equation x mcq reasoning to...
3  solve for x in the equation x mcq reasoning to...
4  solve for x in the equation x mcq reasoning to...

In [ ]:
!pip install sentence-transformers

In [42]:
from sentence_transformers import SentenceTransformer
import numpy as np

# !pip install sentence-transformers


# Load the pre-trained model
model = SentenceTransformer('all-MiniLM-L6-v2')

# Perform embeddings on the 'cleaned_text' column
concatenated_df['embeddings'] = concatenated_df['cleaned_text'].apply(lambda x: model.encode(x))

# Convert embeddings to a NumPy array for further processing
embeddings_array = np.array(concatenated_df['embeddings'].tolist())

print("Embeddings generated successfully!")
print(embeddings_array.shape)  # Display the shape of the embeddings array

WARNING:tensorflow:From d:\anaconda\envs\myLLM\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

Embeddings generated successfully!
(6835, 384)

In [43]:
print(embeddings_array[0])

[-2.21707560e-02  1.96309574e-02  4.90479842e-02  4.39473838e-02
 -2.33131764e-03  2.71468945e-02  4.83601615e-02 -8.15802068e-03
  1.81793850e-02  5.96189611e-02  5.92922047e-02 -7.95385465e-02
  5.12700826e-02  7.38034844e-02  4.69194017e-02  6.09528385e-02
 -1.00210616e-02  5.43692224e-02 -5.30625135e-02  5.51956072e-02
 -4.93427878e-03 -5.96360974e-02 -8.22769031e-02  1.55087588e-02
  4.93276045e-02  1.02958180e-01  3.83117720e-02 -7.98170567e-02
  4.93008532e-02 -1.76712759e-02  2.75570638e-02  1.08520754e-01
  9.57151279e-02 -5.10557778e-02 -4.07200083e-02 -1.34923579e-02
 -2.66132876e-02 -3.78975458e-02 -2.49466281e-02 -5.91410585e-02
 -7.15057999e-02 -8.59111175e-03  2.32682360e-04  1.37147974e-04
 -2.31679506e-03 -1.85909718e-02  5.14801219e-03 -4.44415733e-02
  3.29178050e-02  9.88466218e-02  4.61481549e-02  4.34631109e-02
 -1.31287664e-01 -1.45708248e-02  1.21682301e-01  1.98336914e-02
 -7.57032335e-02  2.19671093e-02 -9.76688112e-04 -4.05806536e-03
 -8.47268924e-02  5.05478419e-02 -3.88931409e-02 -2.96409172e-03
  3.19534875e-02  6.57154992e-02 -3.41576003e-02 -7.22093657e-02
 -2.87509803e-02  3.40280049e-02 -5.95332943e-02  1.67519022e-02
  6.68947175e-02 -7.13082775e-02  4.08732146e-02 -7.28650764e-03
  6.11994341e-02 -8.12861398e-02  5.78320436e-02  1.12187177e-01
 -8.97368416e-02  4.61850576e-02 -5.87763153e-02  4.97520454e-02
  2.31139548e-02 -1.32904798e-01  2.23780777e-02  3.04402877e-02
  1.24194935e-01 -6.87084198e-02  5.40739819e-02 -1.30661996e-02
  8.35774764e-02 -4.29557189e-02  1.03475101e-01 -6.68225298e-03
  9.61577520e-03  9.84195024e-02  1.77770611e-02 -2.79081967e-02
 -2.22164895e-02  3.90715152e-02 -5.73402829e-02 -7.13295070e-03
 -1.01115249e-01 -8.30462053e-02  2.86390968e-02  4.94781137e-02
  3.08717582e-02 -3.13397162e-02 -9.25390702e-03 -7.49952048e-02
  1.08430395e-02  9.24665630e-02 -1.78144127e-02  5.69515442e-03
  1.15584262e-01 -3.69022302e-02  1.85478423e-02 -9.26280394e-02
 -5.19337431e-02 -1.10979937e-02  8.75928029e-02  5.36238728e-03
  3.82302282e-03  3.21446732e-03  4.60699722e-02  9.99313388e-33
 -1.78277940e-01 -6.71759173e-02  4.47276942e-02  1.33164704e-03
  1.21194096e-02 -1.38490871e-02  2.96314508e-02  8.21933895e-03
  3.02443318e-02  7.23901242e-02  3.05289589e-03  1.54854739e-02
  1.36652915e-02  3.86113599e-02  4.50118929e-02 -5.70153669e-02
 -3.87699455e-02  4.81752120e-02 -6.96239918e-02  1.03085721e-02
 -1.13979932e-02  9.07502044e-03  4.89201061e-02 -9.02542192e-03
 -2.29581678e-03 -8.64571854e-02 -7.09011732e-03 -6.81392625e-02
  7.06807822e-02 -3.37622873e-02 -1.71307251e-02  1.59238614e-02
 -3.00752278e-02  1.47672920e-02 -2.26894040e-02  1.27818644e-01
  3.11360452e-02  4.67547262e-03 -2.77436953e-02  1.76927242e-02
 -8.59826654e-02 -4.99979891e-02  6.38969466e-02 -3.32336267e-03
 -3.11170183e-02  1.40432864e-02 -1.01328194e-01 -3.25717553e-02
 -1.89593788e-02  1.31469788e-02  2.87982747e-02  7.28946831e-03
  5.67054302e-02 -2.12091696e-03  8.23365226e-02  9.14204866e-03
 -5.02158254e-02 -2.56874822e-02 -4.47724722e-02  2.46751271e-02
 -1.91275124e-02 -1.27634164e-02 -2.34483033e-02  3.19774337e-02
  5.60002634e-03  6.36778772e-02 -8.95975083e-02 -9.55052301e-02
  3.56401466e-02  4.88069355e-02 -3.18456180e-02 -4.39801328e-02
 -1.99631676e-02  8.56974255e-03 -8.29011947e-03 -7.76938573e-02
  7.79345725e-03 -1.83787327e-02 -5.53317554e-03 -9.18503776e-02
 -1.91068277e-02 -9.90471058e-03  6.07034601e-02 -3.57802324e-02
 -1.20077608e-02 -6.87726354e-03  2.61954982e-02 -5.96931428e-02
  8.37893283e-04 -1.87036619e-02 -8.88798852e-03 -1.28760682e-02
  4.77082618e-02 -3.68187614e-02  6.43973276e-02 -9.29808685e-33
 -7.22188205e-02 -6.57180697e-02 -2.21718708e-03  8.53710528e-03
 -1.11580910e-02 -3.22833769e-02  6.74003586e-02 -1.42966405e-01
  1.04386635e-01 -7.87131935e-02 -5.90845793e-02  7.23328292e-02
 -1.02251388e-01  1.04153641e-02 -2.39031669e-02  2.32927147e-02
  6.61887005e-02 -1.69108566e-02 -4.37251367e-02  2.73941401e-02
 -2.41680760e-02  3.98659222e-02 -3.17903981e-02 -7.14713186e-02
  1.51228311e-03  2.54090223e-02 -4.49994253e-03  7.01593980e-02
  4.07426581e-02 -3.13866101e-02 -9.76951495e-02 -6.83455542e-02
  2.51764674e-02 -3.21497358e-02  5.06717078e-02 -6.57700654e-03
 -5.55229113e-02  1.06180549e-01 -1.19756088e-02 -1.98177677e-02
 -1.13419546e-02 -8.38872194e-02 -4.84058894e-02  1.32096648e-01
  5.08314148e-02 -6.48958236e-03 -1.30461110e-02  4.32125013e-03
  7.56009817e-02  2.02632491e-02  3.38057503e-02 -2.02522017e-02
  2.37912312e-02  4.56689633e-02 -2.63461210e-02  4.73017208e-02
 -1.15606487e-02 -3.91707420e-02  6.98968470e-02  5.09485789e-02
 -7.11044180e-04  1.46334646e-02  5.56038171e-02 -1.77206174e-02
  4.91717681e-02 -8.01736489e-03  5.64330304e-03  7.20645711e-02
 -5.27709536e-03 -1.06363732e-03  5.25576342e-03 -5.71954921e-02
  1.41385123e-02 -2.18943208e-02  8.51198956e-02  2.29414366e-02
 -2.22143289e-02  1.01619028e-01  6.19128533e-02 -2.18686312e-02
  6.36190176e-02  1.66101903e-02  4.92310710e-02  7.10200518e-02
 -1.11421086e-01 -1.63567476e-02  9.08981040e-02 -5.40278852e-04
  5.89018837e-02 -3.08596380e-02  1.29393823e-02 -3.56224775e-02
  6.35160282e-02 -2.30688360e-02  5.20982929e-02 -3.93555624e-08
 -4.52063121e-02 -2.77597271e-02 -7.88530037e-02 -1.72172226e-02
  2.27315146e-02  4.36377935e-02 -5.05299196e-02 -3.80396657e-02
  8.99771880e-03 -2.87756836e-03  1.17690656e-02  4.56481241e-02
  2.00861041e-02 -9.69085377e-03 -6.06475472e-02  8.31783633e-04
  1.44787496e-02  9.96109657e-03 -4.56501953e-02 -7.62148574e-02
 -5.72305284e-02 -8.00623447e-02  2.80380119e-02 -1.11122811e-02
 -9.99347307e-03  2.73446348e-02 -1.17913885e-02  7.63800815e-02
  3.50529863e-03  1.00716308e-01 -3.41791883e-02 -4.92843539e-02
 -1.83752030e-02  3.36498842e-02  4.01219055e-02 -5.80499060e-02
 -7.25782290e-03  6.34971540e-04  3.13711427e-02 -2.42647491e-02
 -7.78870285e-02 -1.05666608e-01  2.81143747e-02 -1.83782969e-02
 -1.19958743e-02 -9.64011624e-03  9.63613391e-03 -2.08318718e-02
 -4.90295514e-02  3.42495069e-02 -2.57770903e-02  4.85602655e-02
 -1.13473348e-02 -6.61531463e-02  2.61248704e-02 -7.69261792e-02
  1.39302993e-02 -2.83067133e-02 -4.08906154e-02  2.23680828e-02
 -4.03918773e-02  5.62331304e-02  1.00720171e-02 -2.24349387e-02]